.buttonIcon{
  display: block;
  cursor: pointer;
  transition: .3s ease;
}

.buttonIcon:hover{
  transform: scale(1.2);
}

@media screen and (max-width: 768px){
  .buttonIcon{
    padding: 10px 14px;
    border-radius: 3px;
    font-size: 12px;
    line-height: 14px;
  }
}

@media screen and (max-width: 576px){
  .buttonIcon{
    padding: 8px 12px;
    border-radius: 2px;
    font-size: 10px;
    line-height: 12px;
  }
}