.inputContainer{
  width: 400px;
  max-height: 96px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}

.inputTitle{

}

.input{
  width: 400px;
  height: 44px;
  padding-left: 12px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.04);
  font-size: 14px;
  transition: .3s ease;
}

.input:hover{
  box-shadow: 0px 0px 8px 1px rgba(0, 4, 251, 0.28);
}

.input:focus{
  box-shadow: 0px 0px 8px 4px rgba(41, 155, 255, 0.3);
}

.inputTip{
  font-size: 12px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.48);
}