.selectContainer{
  max-height: 96px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}

.select{
  height: 44px;
  padding: 12px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  outline: none;
  transition: .3s ease;
}

.select:hover{
  box-shadow: 0px 0px 8px 1px rgba(0, 4, 251, 0.28);
}

.select:focus{
  box-shadow: 0px 0px 8px 4px rgba(41, 155, 255, 0.3);
}

.selectTip{
  font-size: 12px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.48);
}

@media screen and (max-width: 768px){
  .select, .selectTitle{
    font-size: 12px;
    line-height: 14px;
  }
  .select{
    height: 36px;
    padding: 10px;
  }
  .selectTip{
    font-size: 10px;
    line-height: 12px;
  }
}

@media screen and (max-width: 576px){
  .select, .selectTitle{
    font-size: 10px;
    line-height: 12px;
  }
  .select{
    height: 28px;
    padding: 5px;
  }
  .selectTip{
    font-size: 8px;
    line-height: 10px;
  }
}