.form{
  display: grid;
  grid-template-areas: 
    "nickname nickname"
    "name name"
    "surname surname"
    "sex sex"
    "back next";
  row-gap: 24px;
}

.nickContainer{
  grid-area: nickname;
}

.nameContainer{
  grid-area: name;
}

.surnameContainer{
  grid-area: surname;
}

.sexContainer{
  grid-area: sex;
}

.backContainer{
  padding-top: 40px;
  justify-self: flex-start;
  align-self: flex-start;
  grid-area: back;
}

.nextContainer{
  padding-top: 40px;
  justify-self: flex-end;
  align-self: flex-start;
  grid-area: next;
}

@media screen and (max-width: 1368px){
  .nickContainer,
  .nameContainer,
  .surnameContainer,
  .sexContainer{
    width: 300px;
  }
}

@media screen and (max-width: 1024px){
  .form{
    row-gap: 15px;
  }
}

@media screen and (max-width: 768px){

}

@media screen and (max-width: 576px){
  .form{
    row-gap: 10px;
  }
  .nickContainer,
  .nameContainer,
  .surnameContainer,
  .sexContainer{
    width: 100%;
  }
}