.form{
  display: grid;
  grid-template-areas: 
    "nickname"
    "name"
    "surname"
    "sex";
  row-gap: 25px;
}

.nickContainer{
  grid-area: nickname;
}

.nameContainer{
  grid-area: name;
}

.surnameContainer{
  grid-area: surname;
}

.sexContainer{
  grid-area: sex;
}

@media screen and (max-width: 1368px){
  .nickContainer,
  .nameContainer,
  .surnameContainer,
  .sexContainer{
    width: 300px;
  }
}

@media screen and (max-width: 1024px){
  .form{
    row-gap: 15px;
  }
}

@media screen and (max-width: 768px){

}

@media screen and (max-width: 576px){
  .form{
    row-gap: 10px;
  }
  .nickContainer,
  .nameContainer,
  .surnameContainer,
  .sexContainer{
    width: 100%;
  }
}