.advantageContainer{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 16px;
}

.inputContainer{
  width: 300px;
}

.removeAdvantageContainer{
  padding-bottom: 15px;
}

@media screen and (max-width: 1368px){
  .removeAdvantageContainer{
    padding-bottom: 9px;
  }
}

@media screen and (max-width: 768px){
  .removeAdvantageContainer{
    padding-bottom: 5px;
  }
}

@media screen and (max-width: 576px){
  .inputContainer{
    width: 100%;
  }
  .removeAdvantageContainer{
    padding-bottom: 1px;
  }
}