.advantagesContainer{
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-bottom: 8px;
}

.advantage{
  display: flex;
  align-items: center;
  gap: 16px;
}

.inputContainer{
  width: 300px;
}

.removeContainer{
  padding-bottom: 16px;
}

@media screen and (max-width: 768px){
  .advanatagesTitle{
    font-size: 12px;
    line-height: 14px;
  }
}

@media screen and (max-width: 576px){
  .advanatagesTitle{
    font-size: 10px;
    line-height: 12px;
  }
  .inputContainer{
    width: 100%;
  }
  .removeContainer{
    padding-bottom: 8px;
  }
}