.selectContainer{
  max-height: 96px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}

.select{
  height: 44px;
  padding: 12px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  outline: none;
  background: rgba(0, 0, 0, 0.04);
  transition: .3s ease;
}

.select:hover{
  box-shadow: 0px 0px 8px 1px rgba(0, 4, 251, 0.28);
}

.select:focus{
  box-shadow: 0px 0px 8px 4px rgba(41, 155, 255, 0.3);
}

.selectTip{
  font-size: 12px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.48);
}
