.main{
  width: 66vw;
  height: 704px;
  padding: 25px;
  border-radius: 12px 12px 0px 0px;
  background-color: #fff;
}
.infoContainer{
  margin-bottom: 24px;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.inputContainer{
  width: 50%;
}

.buttonContainer{
  margin-top: 24px;
}

@media screen and (max-width: 1368px){
  .main{
    width: 900px;
  }
}

@media screen and (max-width: 1024px){
  .main{
    width: 700px;
  }
  .inputContainer{
    width: 75%;
  }
}

@media screen and (max-width: 768px){
  .main{
    width: 500px;
    padding: 20px;
  }
  .infoContainer{
    margin-bottom: 20px;
  }
  .inputContainer{
    width: 100%;
  }
}

@media screen and (max-width: 576px){
  .main{
    width: 300px;
    padding: 10px;
  }
  .infoContainer{
    margin-bottom: 16px;
  }
  .form{
    align-items: center;
    gap: 12px;
  }
}