.main{
  width: 66vw;
  padding-top: 60px;
  padding-bottom: 80px;
  border-radius: 24px;
  background-color: #fff;
}

.mainContainer{
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  gap: 67px;
}

.form{
  display: grid;
  grid-template-areas: 
    "advantages ..."
    "adding     ..."
    "checkbox   ..."
    "radio      ..."
    "back      next";
  grid-template-columns: 1fr 1fr;
  row-gap: 25px;
  column-gap: 16px;
}

.inputsContainer{
  grid-area: advantages;
}

.advantageContainer{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 16px;
}

.removeAdvantageContainer{
  padding-bottom: 15px;
}

.buttonAddContainer{
  grid-area: adding;
}

.checkboxContainer{
  grid-area: checkbox;
}

.radioContainer{
  grid-area: radio;
}

.backContainer{
  justify-self: start;
  align-self: flex-end;
  grid-area: back;
}

.nextContainer{
  justify-self: end;
  align-self: flex-end;
  grid-area: next;
}

