.radioGroupContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}

.radioGroupTitle{
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}

.radioContainer{
  display: flex;
  align-items: center;
  gap: 8px;
}

.radio{
  width: 16px;
  height: 16px;
  border: 1.5px solid rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  cursor: pointer;
}

.radio:hover{
  box-shadow: 0px 0px 8px -15px rgba(0, 4, 251, 0.28);
}

.radioLabel{
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  cursor: pointer;
}

@media screen and (max-width: 768px){
  .radioGroupTitle{
    margin-bottom: 8px;
    font-size: 10px;
    line-height: 12px;
  }
  .radioContainer{
    gap: 10px;
  }
  .radio{
    border: 1px solid rgba(0, 0, 0, 0.24);
    border-radius: 3px;
  }
  .radioLabel{
    font-size: 10px;
    line-height: 12px;
  }
}

@media screen and (max-width: 576px){
  .radioGroupContainer{
    gap: 10px;
  }
  .radioContainer{
    gap: 10px;
  }
  .radio{
    width: 18px;
    height: 18px;
    border: 0.75px solid rgba(0, 0, 0, 0.24);
    border-radius: 2px;
  }
}