.main{
  width: 66vw;
  padding-top: 60px;
  padding-bottom: 80px;
  border-radius: 24px;
  background-color: #fff;
}

.mainContainer{
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  gap: 67px;
}

.form{
  width: 100%;
  display: grid;
  grid-template-areas: 
    "textarea textarea"
    "back         next";
  grid-template-columns: 1fr 1fr;
  row-gap: 25px;
  column-gap: 16px;
}

.textareaContaier{
  grid-area: textarea;
}

.backContaier{
  grid-area: back;
  justify-self: flex-start;
  align-self: flex-end;
}

.nextContaier{
  grid-area: next;
  justify-self: flex-end;
  align-self: flex-end;
}
