.buttonIcon{
  min-width: 10px;
  min-height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .3s ease;
  user-select: none;
}

.buttonIcon::before{
  content: url("./icons/delete-icon.svg");
}

.buttonIcon:hover{
  transform: scale(1.2);
}

@media screen and (max-width: 768px){
  .buttonIcon{
    width: 18px;
  }
}

@media screen and (max-width: 576px){
  .buttonIcon{
    width: 16px;
  }
}