.checkboxGroupContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}

.checkboxGroupTitle{
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}

.checkboxContainer{
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkbox{
  width: 16px;
  height: 16px;
  border: 1.5px solid rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  cursor: pointer;
}

.checkbox:hover{
  box-shadow: 0px 0px 8px 1px rgba(0, 4, 251, 0.28);
}

.checkboxLabel{
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  cursor: pointer;
}

@media screen and (max-width: 768px){
  .checkboxGroupTitle{
    margin-bottom: 8px;
    font-size: 10px;
    line-height: 12px;
  }
  .checkboxContainer{
    gap: 10px;
  }
  .checkbox{
    border: 1px solid rgba(0, 0, 0, 0.24);
    border-radius: 3px;
  }
  .checkboxLabel{
    font-size: 10px;
    line-height: 12px;
  }
}

@media screen and (max-width: 576px){
  .checkboxGroupContainer{
    gap: 10px;
  }
  .checkboxContainer{
    gap: 10px;
  }
  .checkbox{
    width: 18px;
    height: 18px;
    border: 0.75px solid rgba(0, 0, 0, 0.24);
    border-radius: 2px;
  }
}