.main{
  width: 66vw;
  height: 704px;
  padding: 25px;
  border-radius: 12px 12px 0px 0px;
  background-color: #fff;
}

.line{
  width: 95%;
  height: 0;
  margin: 24px auto;
  border: 1px solid rgba(0, 0, 0, 0.08);
}

.form{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.inputContainer{
  width: 50%;
}

@media screen and (max-width: 1368px){
  .main{
    width: 900px;
  }
}

@media screen and (max-width: 1024px){
  .main{
    width: 700px;
  }
  .inputContainer{
    width: 75%;
  }
}

@media screen and (max-width: 768px){
  .main{
    width: 500px;
    padding: 20px;
  }
  .inputContainer{
    width: 100%;
  }
  .line{
    margin: 16px auto;
  }
}

@media screen and (max-width: 576px){
  .main{
    width: 300px;
    padding: 10px;
  }
  .line{
    margin: 16px auto;
  }
  .form{
    align-items: center;
    gap: 12px;
  }
}