.stepContainer{
  display: grid;
  grid-template-areas: 
    "advantages"
    "adding"
    "checkbox"
    "radio";
  row-gap: 25px;
}

.inputsContainer{
  grid-area: advantages;
}

.buttonAddContainer{
  grid-area: adding;
}

.checkboxContainer{
  grid-area: checkbox;
}

.radioContainer{
  grid-area: radio;
}

@media screen and (max-width: 1024px){
  .stepContainer{
    row-gap: 15px;
  }
}

@media screen and (max-width: 768px){
  .inputsTitle{
    font-size: 12px;
    line-height: 14px;
  }
}

@media screen and (max-width: 576px){
  .inputsTitle{
    font-size: 10px;
    line-height: 12px;
  }
  .stepContainer{
    row-gap: 10px;
  }
}