.form{
  display: grid;
  grid-template-areas: 
    "advantages advantages"
    "checkbox checkbox"
    "radio radio"
    "back next";
  row-gap: 24px;
}

.inputsContainer{
  grid-area: advantages;
}

.advantagesContainer{
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-bottom: 8px;
}

.advantage{
  display: flex;
  align-items: center;
  gap: 16px;
}

.inputContainer{
  width: 300px;
}

.removeAdvantageContainer{
  padding-top: 10px;
}

.checkboxContainer{
  grid-area: checkbox;
}

.radioContainer{
  grid-area: radio;
}

.backContainer{
  padding-top: 40px;
  justify-self: flex-start;
  align-self: flex-start;
  grid-area: back;
}

.nextContainer{
  padding-top: 40px;
  justify-self: flex-end;
  align-self: flex-start;
  grid-area: next;
}

@media screen and (max-width: 1024px){
  .form{
    row-gap: 15px;
  }
}

@media screen and (max-width: 768px){
  .inputsTitle{
    font-size: 12px;
    line-height: 14px;
  }
}

@media screen and (max-width: 576px){
  .inputsTitle{
    font-size: 10px;
    line-height: 12px;
  }
  .form{
    row-gap: 10px;
  }
  .inputContainer{
    width: 100%;
  }
}