.form{
  display: grid;
  grid-template-areas: 
    "advantages advantages"
    "checkbox checkbox"
    "radio radio"
    "back next";
  row-gap: 24px;
}

.advantageContainer{
  grid-area: advantages;
}

.checkboxContainer{
  grid-area: checkbox;
}

.radioContainer{
  grid-area: radio;
}

.backContainer{
  padding-top: 40px;
  justify-self: flex-start;
  align-self: flex-start;
  grid-area: back;
}

.nextContainer{
  padding-top: 40px;
  justify-self: flex-end;
  align-self: flex-start;
  grid-area: next;
}

@media screen and (max-width: 1024px){
  .form{
    row-gap: 15px;
  }
}

@media screen and (max-width: 576px){
  .form{
    row-gap: 10px;
  }
}